/* reset style */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	outline: none;
}

ul,li{
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}

table,
thead,
tbody,
tr,
th,
td {
	padding: 0;
	margin: 0;
}
tbody tr:last-child td {
	border-bottom: none;
}
tbody tr:first-child td {
	border-top: none;
}
img {
	-webkit-user-drag: none;
}
